[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
environs = "*"
model-mommy = "*"
django-crispy-forms = "*"
django-taggit = "*"
markdown = "*"

[dev-packages]
flake8 = "*"
isort = "*"
rich = "*"
coverage = "*"
django-extensions = "*"
django-debug-toolbar = "*"
ipython = "*"

[requires]
python_version = "3.8"
