{% extends "layouts/base.html" %}

{% block title %} Access Denied {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body text-center">
                    <h6 class="card-category text-gray">Error 403</h6>
                    <h4 class="card-title">
                        Access Denied - please authenticate
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
